<form action="/comidas/" method="POST">
    <label for="">peso</label>
    <input type="text" name="peso">
    <br>
    <label for="">tipo</label>
<select name="tipo" id="">
    <option value="pagos">pagos</option>
    <option value="documentos">documentos</option>
</select>
    <br>
    <label for="">peso</label>
    <select  id="" name="precio">
    <option value="30000" >30000</option>
    <option value="40000" >40000</option>
    <option value="50000" >50000</option>
    <option value="60000" >60000</option>

    </select>
    <br>
    <button type="submit">enviar</button>
</form>