<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.css">
    <!--estilos personalizados-->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/error.css">
    <title>Error</title>
</head>
<body>
    <div class="container col-md-12">
    <div class="container col-md-12" id="error">
        <h1><img src="/static/vendor/img/error1.png" id="carpeta-error"> {{mensajeError}}</h1>
    </div>

    <div class="container col-md-12" id="img-error">
        <img src="/static/vendor/img/error.jpg" class="img-fluid" alt="">
    </div>
</div>
<!--fuente de google-->
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet"> 

     <!--iconos del sitio-->
     <script src="https://kit.fontawesome.com/4e0743667a.js"></script>

     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!--bootstrap js-->
    <script src="../static/vendor/bootstrap/js/bootstrap.js"></script>
</body>
</html>